/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  font-size: 14px;
  font-weight: 2px;
  font-family:Courier;
  background-color: #585858;
}
.board {
  width: 700px;
  height:450px;
  top: 10px;
  background-color:white;
  border: 2px black solid;
  margin-left: auto;
  margin-right:auto;
  position:relative;
}
.title{
  float:right;
  position:relative;
  color: white;
  font-size:20px;
  height:20px;
  width:125px;
}
.scoreboard{
  padding: 5px;
  height: 50px;
  width: 200px;
  
  color:cyan;
  float:left;
  position:relative;
  border: 1px black dotted;

}

.header{
  padding: 5px;
  height: 75px;
  width: 690px;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  background-color: black;
  border: 1px black dotted;
}

.highscore {

}

.current {

}

.collisions {

}

/*.enemy {
  transform-origin: right bottom; 
  transform:
    rotate(90deg)
    translate(0, -100%) 
    rotate(90deg)
    translate(0, 100%);
}*/

image {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s ininite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
      


@-webkit-keyframes spin {
  from {
    transform:rotate(0deg)
  }
      
  to {
    transform:rotate(360deg)
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg)
  }
      
  to {
    transform:rotate(360deg)
  }
 }